<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <h5>
            {{'about.title' | translate}}
          </h5>
        </div>
        <div class="card-body">
          <p>
            <img class="img-avatar" src="assets/img/crest.png">
          </p>
          <p>{{'about.top_content_1' | translate}}</p>
          <hr>
          <p>{{'about.top_content_2' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
